<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWeatherService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICalculatorService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/GettingStartedLib/CalculatorService/CalculatorService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICalculatorService"
                contract="ServiceReference1.ICalculatorService" name="WSHttpBinding_ICalculatorService">
                <identity>
                    <userPrincipalName value="ANgounou@cellent.int" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:59451/WorldWeatherService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWeatherService"
                contract="WeatherServiceReference.IWeatherService" name="BasicHttpBinding_IWeatherService" />
        </client>
    </system.serviceModel>
</configuration>